ARANGO_PASSWORD=seidrum_dev
TELEGRAM_TOKEN=
TELEGRAM_ALLOWED_USERS=
GOOGLE_API_KEY=
OPENAI_API_KEY=
OLLAMA_URL=
OLLAMA_API_KEY=
LLM_PROVIDER=google
LLM_OLLAMA_MODEL=
EMBEDDING_PROVIDER=openai
GATEWAY_API_KEY=
GATEWAY_LISTEN_ADDR=0.0.0.0:8080
